.investor_relations01 {
    background: url("../yy_img/bigImg5.jpg") no-repeat;
    background-size: 100%, 100%;
}
#the_title_content ul li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 60px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60%;
}

#the_title_content ul li a {
    float: left;
    color: black;
    height: 100%;
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

#the_title_content ul li a i {
    float: left;
    font-size: 1.3em;
    color: #FEA327;
    display: none;
    line-height: 60px;
}
@media (max-width: 700px) {
    #the_title_content {
        display: none;
    }
}
.lbt{

    margin: 150px 50px 50px;
}
.hz{
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.div{
    display: none;
}
.div y{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
}
.div y:hover{
    color: #ffc900;
}


.hzzz{
    display: none;
    margin-top: 100px;
}
.hzzb{
    border: 1px solid red;
    background: url("../yy_img/20161107182248_638.png") no-repeat;
    background-size: 100% 100%;
    padding:200px 0 200px 0;
}
.hzzb2{
    border: 1px solid red;
    background: url("../yy_img/20161107182611_996.png") no-repeat;
    background-size: 100% 100%;
    padding:200px 0 200px 0;
}
.hzzb3{
    border: 1px solid red;
    background: url("../yy_img/20161107183255_499.png") no-repeat;
    background-size: 100% 100%;
    padding:200px 0 200px 0;
}
.hzzb4{
    border: 1px solid red;
    background: url("../yy_img/20161107183255_499.png") no-repeat;
    background-size: 100% 100%;
    padding:200px 0 200px 0;
}
.hzzb5{
    border: 1px solid red;
    background: url("../yy_img/20161107183255_499.png") no-repeat;
    background-size: 100% 100%;
    padding:200px 0 200px 0;
}
.hzzb6{
    border: 1px solid red;
    background: url("../yy_img/20161107183255_499.png") no-repeat;
    background-size: 100% 100%;
    padding:200px 0 200px 0;
}