*{
    margin: 0;
    padding: 0;
}
.investor_relations01 {
    background: url("../image/sl2.jpg") no-repeat;
    background-size: 100%, 100%;
}

#the_title_content ul li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 60px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

#the_title_content ul li a {
    float: left;
    color: black;
    height: 100%;
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

#the_title_content ul li a i {
    float: left;
    font-size: 1.3em;
    color: #FEA327;
    display: none;
    line-height: 60px;
}
.rs-1{
    margin-top:3%;
}
.fwln{
    background: #F5F5F5;
    text-align: center;
    padding: 1%;
    color: white;
}
.bxzc{
    background: #FFBB6A;
    text-align: center;
    padding: 1%;
    color: white;
    margin-left: 2%;
}