
.investor_relations01 {
    background: url("../yy_img/bigImg5.jpg") no-repeat;
    background-size: 100%, 100%;
}
#the_title_content ul li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 60px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60%;
}

#the_title_content ul li a {
    float: left;
    color: black;
    height: 100%;
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

#the_title_content ul li a i {
    float: left;
    font-size: 1.3em;
    color: #FEA327;
    display: none;
    line-height: 60px;
}
@media (max-width: 700px) {
    #the_title_content {
        display: none;
    }
}



#div-a-a{
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 50px;
    color: #999999;

}
.div-a-a-b{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
#div-a-a a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}