.investor_relations01 {
    background: url("../yy_img/bigImg5.jpg") no-repeat;
    background-size: 100%, 100%;
}
#the_title_content ul li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 60px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60%;
}

#the_title_content ul li a {
    float: left;
    color: black;
    height: 100%;
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

#the_title_content ul li a i {
    float: left;
    font-size: 1.3em;
    color: #FEA327;
    display: none;
    line-height: 60px;
}
@media (max-width: 700px) {
    #the_title_content {
        display: none;
    }
}

#div-b-b ul li{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.16);
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 8px;
}
#div-b-b ul li:hover{
    background-color: rgb(252, 255, 25);
    color: #ffffff;
}
.img_text p{
    font-size: 20px;
}