.investor_relations01 {
    background: url("../image/sl.jpg") no-repeat;
    background-size: 130%, 100%;
}

#the_title_content ul li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 60px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40%;
}

#the_title_content ul li a {
    float: left;
    color: black;
    height: 100%;
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

#the_title_content ul li a i {
    float: left;
    font-size: 1.3em;
    color: #FEA327;
    display: none;
    line-height: 60px;
}
@media (max-width: 700px) {
    #the_title_content {
        display: none;
    }
}

.rs-1{
    margin-top:5%;
}
@media (max-width: 750px) {
    p{
        font-size: 0.6em;
    }
    .big-one{
        margin-top: 5%;
    }
    .big-text p{
        font-size: 1.5em;
    }
    .chzs h1{
        font-size: 1.2em;
    }
    .zgxl-text h3{
        font-size: 1em;
    }
    .ten-photo h4{
        font-size: 1em;
    }
    .czfu-bg p{
        font-size: 0.3em;
    }
    .opsc p{
        font-size: 0.3em;
    }
    .opsc img{
        width: 90%;
    }
}
@media (min-width: 750px){
    .big-text p{
        font-size: 3em;
    }
}
.wdbz{
    background: #B5B6B6;
    color: white;
    height: 240px;
}
.zgxl{
    background: #FFBB6A;
    text-align: center;
    padding: 1%;
    color: white;
}
.jdxl{
    background: #F5F5F5;
    text-align: center;
    padding: 1%;
    color:black;
    margin-left: 2%;
}
.ssxl{
    background: #F5F5F5;
    text-align: center;
    padding: 1%;
    color: black;
    margin-left: 2%;
}

.czfu-bg{
    background: url("../image/cf/shopping.jpg") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 4%;
    padding-top: 3%;
}
.fu-text{
    font-size: 1.8em;
    text-align: center;
    margin-top:12%;
}